USE [NextValueDatabase]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[City] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerSequence]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerSequence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerIdentifier] [int] NULL,
	[CurrentSequenceValue] [nvarchar](max) NULL,
	[SequencePreFix] [nchar](2) NULL,
	[Sequence]  AS ([SequencePreFix]+[CurrentSequenceValue]),
 CONSTRAINT [PK_CustomerSequence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Example]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Example](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_Example] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Example1]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Example1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Example1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerIdentifier] [int] NULL,
	[InvoiceNumber] [nvarchar](max) NULL,
	[OrderDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleComputed]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleComputed](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ComputedIdentifier]  AS (case when [Id]<(9999) then 'A'+right('000'+CONVERT([varchar],[Id],(10)),(4)) else 'A'+CONVERT([varchar],[Id],(10)) end) PERSISTED,
	[CustomerName] [nvarchar](50) NULL,
 CONSTRAINT [PK_SampleComputed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SampleComputed1]    Script Date: 11/16/2025 9:46:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleComputed1](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ComputedIdentifier]  AS (case when [Id]<(9999) then 'A'+right('000'+CONVERT([varchar],[Id],(10)),(4)) else 'A'+CONVERT([varchar],[Id],(10)) end) PERSISTED,
	[CustomerIdentifer] [int] NULL,
 CONSTRAINT [PK_SampleComputed1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactTitle], [City], [PostalCode], [Country]) VALUES (1, N'Alfreds Futterkiste', N'Maria Anders', N'Sales Representative', N'Berlin', N'12209', N'Germany')
INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactTitle], [City], [PostalCode], [Country]) VALUES (2, N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Owner', N'México D.F.', N'05021', N'Mexico')
INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactTitle], [City], [PostalCode], [Country]) VALUES (3, N'Antonio Moreno Taquería', N'Antonio Moreno', N'Owner', N'México D.F.', N'05023', N'Mexico')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerSequence] ON 

INSERT [dbo].[CustomerSequence] ([Id], [CustomerIdentifier], [CurrentSequenceValue], [SequencePreFix]) VALUES (1, 1, N'000000', N'AA')
INSERT [dbo].[CustomerSequence] ([Id], [CustomerIdentifier], [CurrentSequenceValue], [SequencePreFix]) VALUES (2, 2, N'000001', N'BB')
INSERT [dbo].[CustomerSequence] ([Id], [CustomerIdentifier], [CurrentSequenceValue], [SequencePreFix]) VALUES (3, 3, N'000000', N'CC')
SET IDENTITY_INSERT [dbo].[CustomerSequence] OFF
GO
SET IDENTITY_INSERT [dbo].[Example1] ON 

INSERT [dbo].[Example1] ([Id], [InvoiceNumber]) VALUES (1, N'A001/20')
INSERT [dbo].[Example1] ([Id], [InvoiceNumber]) VALUES (2, N'A002/20')
INSERT [dbo].[Example1] ([Id], [InvoiceNumber]) VALUES (3, N'A003/20')
SET IDENTITY_INSERT [dbo].[Example1] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [CustomerIdentifier], [InvoiceNumber], [OrderDate]) VALUES (1, 3, N'CC1', CAST(N'2023-06-14T06:24:33.2373720' AS DateTime2))
INSERT [dbo].[Orders] ([OrderId], [CustomerIdentifier], [InvoiceNumber], [OrderDate]) VALUES (2, 3, N'CC1', CAST(N'2025-09-18T17:17:56.0960271' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[SampleComputed] ON 

INSERT [dbo].[SampleComputed] ([Id], [CustomerName]) VALUES (CAST(1 AS Numeric(18, 0)), N'1')
INSERT [dbo].[SampleComputed] ([Id], [CustomerName]) VALUES (CAST(2 AS Numeric(18, 0)), N'2')
SET IDENTITY_INSERT [dbo].[SampleComputed] OFF
GO
SET IDENTITY_INSERT [dbo].[SampleComputed1] ON 

INSERT [dbo].[SampleComputed1] ([Id], [CustomerIdentifer]) VALUES (CAST(1 AS Numeric(18, 0)), 1)
INSERT [dbo].[SampleComputed1] ([Id], [CustomerIdentifer]) VALUES (CAST(2 AS Numeric(18, 0)), 2)
INSERT [dbo].[SampleComputed1] ([Id], [CustomerIdentifer]) VALUES (CAST(3 AS Numeric(18, 0)), 3)
SET IDENTITY_INSERT [dbo].[SampleComputed1] OFF
GO
ALTER TABLE [dbo].[CustomerSequence]  WITH CHECK ADD  CONSTRAINT [FK_CustomerSequence_Customers] FOREIGN KEY([CustomerIdentifier])
REFERENCES [dbo].[Customers] ([CustomerIdentifier])
GO
ALTER TABLE [dbo].[CustomerSequence] CHECK CONSTRAINT [FK_CustomerSequence_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerIdentifier])
REFERENCES [dbo].[Customers] ([CustomerIdentifier])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
USE [master]
GO
