USE [master]
GO
/****** Object:  Database [NextValueDatabase]    Script Date: 9/12/2022 5:22:17 AM ******/
CREATE DATABASE [NextValueDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NextValueDatabase', FILENAME = N'C:\Users\paynek\NextValueDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NextValueDatabase_log', FILENAME = N'C:\Users\paynek\NextValueDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NextValueDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NextValueDatabase]
GO
/****** Object:  Table [dbo].[Example]    Script Date: 9/12/2022 5:22:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Example](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_Example] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
